# Environment files
.env
.env.local
.env.*.local

# Version control
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.pytest_cache/
.venv/
venv/

# IDEs
.vscode/
.idea/
*.swp
*.swo


# Docker
Dockerfile
docker-compose-dev.yml
docker-compose-prd.yml
.dockerignore

infrastructure/
